* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
.float {
  float: left;
  text-align: center;
}
body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #0c325a;
  background-image: url(../img/oldman.png);
  background-size: 950px;
  background-position: 130% 120px;
  background-repeat: no-repeat;
  height: 450px;
  color: white;
}
.header-top {
  height: 70px;
  width: 1050px;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 11px;
  font-weight: bold;
}
.header-top:after {
  content: '';
  display: table;
  clear: both;
}
.logo {
  float: left;
}
nav {
  float: left;
  padding-top: 20px;
  margin-left: 50px;
}
.menu {
  width: 500px;
}
ul.menu li {
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;
}
ul.menu li a {
  text-decoration: none;
  color: white;
}
.header-nav-right {
  float: right;
  width: 360px;
  text-align: right;
  /* background-color: pink; */
}
.header-nav-right a {
  display: inline-block;
}
a.btn-right1  {
  text-decoration: none;
  color: rgb(150, 150, 150);
  margin: 20px 10px 0 0;
}
a.btn-right2 {
  padding: 8px 25px;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #4384aa;
  margin: 0 10px 0 0;
}
a.btn-right3 {
  padding: 8px 10px;
}
a.btn-green {
  text-decoration: none;
  background-color: #7BBC00;
  border-radius: 4px;
  margin: 0;
}
.visual {
  width: 1050px;
  height: 380px;
  margin: 0 auto;
  padding-top: 80px;
}
.headline {
  width: 500px;
  font-size: 45px;
  padding: 0 0 40px 0;
}
a.cta {
  padding: 20px 15px;
}

/* FINE HEADER */

main {
}
.title {
  text-align: center;
  padding: 50px 0;
  background-color: rgb(220, 220, 220);
}
.col-container {
width: 1050px;
margin: 50px auto 80px;
text-align: center;
}
.col-container img {
  height: 140px;
  margin-bottom: 60px;
}
.col-container::after {
  content: '';
  display: table;
  clear: both;
}
.float h3 {
  font-size: 23px;
  color: #7fb802;
  font-weight: normal;
}
.float hr {
  width: 30px;
  margin: 20px auto;
}
.float p {
  font-size: 15px;
  line-height: 25px;
  color: #999;
}
.col1 {
  width: 300px;
}
.col2 {
  width: 350px;
  margin: 0 50px;
}
.col3 {
  width: 300px;

}
.main-bot {
  height: 400px;
}
footer {
  width: 1050px;
  margin: 0 auto;
  background-color: #d3d3d3;
}
